@font-face  {
  font-family: 'myfont';
  src: './Sections/Fonts/fontin-regular-webfont.woff';
}

.App {
  margin: 16px;
  font-family: myfont;
}

/* utilidad general  */
body  {

  background-color:black; /*almost Black */
}
.glow   {
  text-shadow: 0 0 3px #FF0000;
}


/* especifico */

.barInput p   {
  font-size: 20px;
  padding-left: 5px;
  color: rgb(151, 151, 151);
}

#barLogo a img  {
  max-width: 100%;
}

#barLogo a{
  padding:0;
}

#specificContentSection {
  margin-left:  200px;
}

.inputForm input  {
  margin-left: 15px;
}


#submitButton {
  display: flex;
}